<%# #トップページ %>
<html>
  <head>
    <meta charset="UTF-8" />
      <link rel="stylesheet" href="application.css"> 
  </head>

  <body>
      <header class="header"> 背景画像設定
      <div class= "headertitle">
        <h1 class="site-title">KAMABlog</h1>
       </div>
      <div class= "side-sign">
        <h3 class= "signbtn1" >マイページ</h3>
        <h3 class= "signbtn2"> ログイン</h3>
        <h3 class= "logoutbtn">
          <%= link_to 'ログアウト', "/users/sign_out", method: :delete %>
        </h3>
      </div>
    </header>

    <div class="menu">
      <section class="home">
        <a href = "#">ホーム</a>
      </section>

      <section class="kizi">
        <a href = "#">記事</a>
      </section>

      <section class="un">
        <a href = "#">未定</a>
      </section>
    </div>

    <div class="ranking">
      <p>アクセスランキング</p>
    </div>

    <div class="new">
      <p>最新記事表示</p>
    </div>

  </body>
</html>