<div class="menubar text-center m-3"> 
  <div class="container ">
    <div class="row">
      <div class="col-4 ">
        <section class="home">
          <a href = "/posts">ホーム</a>
        </div>

        <div class="col-4">
          <a href = "/users/show">記事</a>
        </div>

        <div class="col-4">
          <a href = "#">未定</a>
        </div>
      </div>
    </div>
</div> 